body {
  margin: 15;
  max-width: 1770px;
  padding: 0;
}

.search-box {
  max-height: 821px;
}

.biglogo {
  position: absolute;
  left: 38%;
  top: 30%;
  width: 372px;
  height: 76px;
}

.first-img {
  height: 737px;
  width: 1770px;
  background-repeat: no-repeat;
  background-size: cover;
}

.search {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 63px;
  width: 653px;
  padding: 10px;
  border: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search input {
  max-width: 500px;
  width: 100%;
  height: 63px;
  text-align: center;
  border: 2px solid #FFFFFF;
  letter-spacing: 2.8px;
  color: #999999;
}

.search-btn {
  width: 150px;
  height: 63px;
  background-color: #5474FD;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.information-bar {
  background-color: #5474FD;
  height: 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  max-height: 20px;
  max-width: 186px;
  margin-left: 321px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 13px;
}

.wrapper {
  width: 100%;
  max-height: 685px;
  background-image: url(/images/sec-pic.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choose-text {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 63px;
  width: 653px;
  padding: 10px;
  border: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 150%;
  left: 40%;
  color: white;
  font-size: 36px;
}

.first-part-choose {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 63px;
  width: 560px;
  margin-top: 28vh;
  left: 40%;
  color: white;
  font-size: 16px;
}

.second-part-choose {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 63px;
  width: 560px;
  margin-top: 40vh;
  left: 40%;
  color: white;
  font-size: 16px;
}

.choose-btn {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 63px;
  width: 228px;
  margin-top: 55vh;
  left: 17%;
  color: white;
  font-size: 16px;
  background-color: #5474FD;
}

.choose-img1 {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 220px;
  width: 350px;
  margin-top: 28vh;
  left: 64%;
}

.choose-img2 {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 220px;
  width: 350px;
  margin-top: 61vh;
  left: 80%;
}
/*# sourceMappingURL=style.css.map */